{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Gestion de cocktails</h1>
        <p class="lead">Salut</p>
        <a class="btn btn-lg btn-primary" href="{{ path('recipe_index') }}" role="button">Les recettes &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{{ path('aliment_index') }}" role="button">Les aliments &raquo;</a>
    </div>

{% endblock %}
