{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Gestion de cocktails</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="{{ path('homepage') }}" role="button">Salut &raquo;</a>
    </div>

{% endblock %}
