{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aliments list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for aliment in aliments %}
            <tr>
                <td><a href="{{ path('aliment_show', { 'id': aliment.id }) }}">{{ aliment }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
