{% extends '::base.html.twig' %}

{% block body %}

    <h1>Mes recettes préférées</h1>

    {% if not is_granted('ROLE_USER') %}
        <h5>Vous n'êtes pas connecté</h5>
    {% endif %}


    <br>

    {% if favorites | length == 0 %}
        <p>
            Vous n'avez encore aucune recette préférée
            <br>
            <a href="{{ path('recipe_index') }}">Parcourir les recettes</a>
        </p>
    {% endif %}

    <ul>
        {% for recipe in favorites %}
            <li>
                <a href="{{ path('recipe_show', { id: recipe.id }) }}" class="btn btn-sm btn-primary">{{ recipe }}</a>
                <a href="{{ path('recipe_remove_session_favorite', { id: recipe.id }) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
